@import "tailwindcss";

body, html, #root {
  font-family: 'Poppins', sans-serif !important;
}
.font-poppins{
   font-family: 'Poppins', sans-serif !important;
}

html{
  font-size: 14px !important;
}